modules = ["nodejs-20", "web", "go-1.21"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["python3", "gcc", "gnumake", "pkg-config"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Web"

[[workflows.workflow]]
name = "Start Web"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./node_modules/.bin/http-server web-build --port 5000 --host 0.0.0.0 --cors -c-1"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["bash", "-c", "yarn install --ignore-optional --ignore-scripts && yarn build-web"]
publicDir = "web-build"
run = ["npx", "http-server", "web-build", "--port", "5000", "--host", "0.0.0.0"]
